<div class="datos-farmacovigilancias" *ngIf="farmacovigilancia">
    <p>
        ID Persona: {{farmacovigilancia.idPersona}}
    </p>
    
    <p>
        Persona: {{farmacovigilancia.persona}}
    </p>

    <p>
        Fecha: {{farmacovigilancia.fecha}}
    </p>

    <p>
        DNI: {{farmacovigilancia.dni}}
    </p>

    <p>
        Telefono: {{farmacovigilancia.telefono}}
    </p>

    <p>
        Fiebre: {{farmacovigilancia.fiebre}}
    </p>

    <p>
        Tos: {{farmacovigilancia.tos}}
    </p>

    <p>
        Dificultad: {{farmacovigilancia.dificultad}}
    </p>
    <p>
        Malestar: {{farmacovigilancia.malestar}}
    </p>

</div>